openai
anthropic
langchain
langchain-openai
langchainhub
jupyterlab
python-dotenv
numpy
numexpr
google-search-results
pydantic
pandas
matplotlib
openpyxl
wandb
# vllm
faiss-cpu
chromadb
redis
spacy
psycopg